/* page.module.css */
/* Add any page-specific styles here */

.nav {
  background-color: rgb(0, 0, 0);
}

.nav .logo-img {
  height: 80%;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 15px;
}

.dropdownContent {
  margin-top: 20 !important;
  background-color: black;
  border: 1px solid #d24f0e;
  min-width: 200px;
  transform: translateY(-60px);
}

.dropdownContent li > a {
  font-size: 13px;
  color: #23d149;
}

.dropdownContent li > a:hover {
  background-color: #d24f0e;
  color: white;
}

.sidenav {
  margin-top: 0px !important;
  padding-top: 0px !important;
  background-color: rgb(0, 0, 0);
  border-color: #fff;
  border-left-color: #fff;
  border-left-width: 1px;
  border-left-style: solid;
}

.sidenav li>a, .sidenav .user-view {
  font-size: large !important;
  color: white !important;
}

.inputField input[type="text"],
.inputField input[type="password"],
.inputField input[type="email"],
.inputField input[type="url"],
.inputField input[type="time"],
.inputField input[type="date"],
.inputField input[type="datetime-local"],
.inputField input[type="month"],
.inputField input[type="week"],
.inputField input[type="number"],
.inputField input[type="search"],
.inputField textarea {
  color: grey;
}

.parallaxHeight {
  height: 250px;
}

/* Markdown Content Styles */
.markdownContent {
  font-family: "Comfortaa", cursive;
  color: white;
  background-color: rgb(0, 0, 0);
  line-height: 1.5;
  padding: 0 2rem;
  font-size: 1.05rem;
  font-weight: 400;
}

.markdownContent h1 {
  color: rgb(4, 249, 8);
  font-weight: bold !important;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdownContent h2 {
  color: rgb(4, 249, 8);
  font-weight: bold !important;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdownContent h3 {
  color: rgb(4, 249, 8);
  font-weight: bold !important;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdownContent p {
  margin-top: 0;
  margin-bottom: 1em;
}

.markdownContent strong {
  font-weight: bold !important;
  color: rgb(4, 249, 8);
}

.markdownContent a {
  color: #63acff; /* VS Code Blue */
  text-decoration: none; /* Remove underline */
}

.markdownContent ul {
  list-style: disc;
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 2em;
}

.markdownContent ol {
  list-style: decimal;
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 2em;
}

.markdownContent li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdownContent code {
  font-family: monospace;
  background-color: #333;
  color: #fff;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.markdownContent pre {
  font-family: monospace;
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  border-radius: 3px;
  overflow: auto;
}